/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  outline: 1px solid red;
  background-color: rgba(0, 0, 255, 0.063);
}

.cardButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.scoreHeader {
  font-size: 2rem;
  font-weight: 900;
}

.cardsContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  height: 600px;
  perspective: 800px;
}

/* .cardsContainer:hover > .card {
  transform: rotateY(-180deg);
} */

/* .card:hover {
  transform: rotateY(180deg);
} */

.card {
  font-size: 0.8rem;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cardBack {
  background-size: 100% 100%;
  background-position: center;

  background-color: #1a1a1a;
  transform: rotateY(-180deg) translateY(20px);
}

.cardFront {
}
